<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate = "~{fragments/layout}" >
<head>
 <title>Bug Tracker - assign bug to developer</title>
</head>
<body>

     <div  layout:fragment = "content" class = "container topPadding">
     	<form th:action = "@{/addBug}" th:object = "${bug}" method = "post" autocomplete="off">
     		<div class = "form-group">
	     		<label for = "subject" class = "form-control-label">Subject</label>
	     		<textarea class = "form-control" th:field = "*{subject}" id = "subject" >
	     		</textarea>
	     		<div class = "text text-danger" th:if = "${#fields.hasErrors('subject')}" th:errors = "*{subject}">        	
	     		</div>
	     	</div>
	     	<div class = "form-group">
	     		<label for = "description" class = "form-control-label">Description</label>
	     		<textarea class = "form-control" th:field = "*{description}" id = "description" >
	     		</textarea>
	     		<div class = "text text-danger" th:if ="${#fields.hasErrors('description')}" th:errors = "*{description}">        	
	     		</div>
	     	</div>
	     	<div class = "form-group">
	     		<label for = "startDate" class = "form-control-label">Start Date</label>
	     			<input type = "date" min = "2020-01-01" max= "2050-12-31" class = "form-control" th:field = "*{startDate}" id = "startDate"/>
	     		<div class = "text text-danger" th:if = "${#fields.hasErrors('startDate')}" th:errors = "*{startDate}">        	
	     		</div>
	     	</div>
	     	<div class = "form-group">
			    <label for  ="priority" class = "form-control-label">Priority</label>
			    <select class = "form-control"  th:field = "*{priority}" id = "priority">
					<option value = "Low">Low</option>
					<option value = "Medium">Medium</option>
					<option value = "High">High</option>
			    </select>
			    <div class = "text text-danger" th:if = "${#fields.hasErrors('priority')}" th:errors = "*{priority}">        	
	     		</div>
			</div>
	     	<input type = "submit" value = "Submit" class = "btn btn-primary topMargin" />
     	</form>
     </div>
</body>
</html>