<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate = "~{fragments/layout}" >
<head>
	<title>Bug Tracker - create project</title>
</head>
<body>

     <div  layout:fragment = "content" class = "container topPadding">
	     <div class = "alert alert-info" th:if = "${projectExists}">
	     	<h5 class = "text text-center">
	     		A project with that name already exists
	     	</h5>
	     </div>
     	<form th:action = "@{/newProject}" th:object = "${project}" method = "post" autocomplete="off">
	     	<div class = "form-group">
	     		<label for = "name" class = "form-control-label">Name</label>
	     		<input type = "text" class = "form-control" th:field = "*{name}" id = "name" autofocus/>
	     		<div class = "text text-danger" th:if="${#fields.hasErrors('name')}" th:errors = "*{name}">        	
	     		</div>
	     	</div>
	     	<div class = "form-group">
	     		<label for = "dueTo" class = "form-control-label">Due To</label>
	     		<p th:text="${standardDate}"></p>
	     		<input type = "date" th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" max = "2050-12-31" class = "form-control" th:field = "*{dueTo}" id = "dueTo"/>
	     		<div class = "text text-danger" th:if = "${#fields.hasErrors('dueTo')}" th:errors = "*{dueTo}">        	
	     		</div>
	     	</div>
	     	<input type = "submit" value = "Submit" class = "btn btn-primary topMargin" />
     	</form>
     </div>
</body>
</html>