<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate = "~{fragments/layout}" >
<head>
 <title>Bug Tracker - register</title>
</head>
<body>

     <div  layout:fragment = "content" class = "container topPadding">
	     <div class = "alert alert-info" th:if = "${emailExists}">
	     	<h5 class = "text text-center">
	     		Email already used
	     	</h5>
	     </div>
     	<form th:action = "@{/register}" th:object = "${user}" method = "post" autocomplete="off">
	     	<div class = "form-group">
	     		<label for = "email" class = "form-control-label">Email</label>
	     		<input type = "text" class = "form-control" th:field = "*{email}" id = "email" autofocus/>
	     		<div class = "text text-danger" th:if="${#fields.hasErrors('email')}" th:errors = "*{email}">        	
	     		</div>
	     	</div>
	     	<div class = "form-group">
	     		<label for = "password" class = "form-control-label">Password</label>
	     		<input type = "password" class = "form-control" th:field = "*{password}" id = "password" />
	     		<div class = "text text-danger" th:if="${#fields.hasErrors('password')}" th:errors = "*{password}">        	
	     		</div>
	     	</div>
	     	<div class = "form-group">
	     		<label for = "firstName" class = "form-control-label">First Name</label>
	     		<input type = "text" class = "form-control" th:field = "*{firstName}" id = "firstName"/>
	     		<div class = "text text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors = "*{firstName}">        	
	     		</div>
	     	</div>
	     	<div class = "form-group">
	     		<label for = "lastName" class = "form-control-label">Last Name</label>
	     		<input type = "text" class = "form-control" th:field = "*{lastName}" id = "lastName"/>
	     		<div class = "text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors = "*{lastName}">        	
	     		</div>
	     	</div> 
	     	<input type = "submit" value = "Submit" class = "btn btn-primary topMargin" />
     	</form>
     </div>
</body>
</html>